<div class="row col-lg-12">
  <div class="col-lg-6">
    <label class="col-lg-8">
      <input type="text" class="form-control" [(ngModel)]="serverName" >
    </label>

    <label class="col-lg-4">
      <button class="btn btn-dark" [disabled]="allowNewServer" (click)="onServerCreate()"> Add Server</button>
    </label>

    <p *ngIf="serverCreated; else noServer">Server {{serverName}} created!</p>
    <ng-template #noServer> <p>No new Server</p></ng-template>
  </div>

  <div class="col-lg-6">
    <app-server *ngFor="let server_item of servers"></app-server>
  </div>
</div>
